.clients
  %h2 List of clients
  - @users.each do |user|
    .client-panel
      %h4
        = user.email
      = link_to "Details", user
      = link_to "Projects", projects_url
      = link_to "Delete client account", user, method: :delete, data: { confirm: 'Are you sure?' }
      %p
        User profile created at
        = user.created_at
