.create-client
  - if !flash.empty?
    = flash.each do |key, value|
      = content_tag :div, value, class: "flash #{key}"
  %h2
    Create client
  %div
    = form_for @user, :url => office_createClient_url do |f|
      %div
        = f.label :email
        = f.email_field :email
      %div
        = f.label :password
        = f.password_field :password
      %div
        = f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation
      %div
        = f.label :krs_number, "Company register number"
        = f.number_field :krs_number
      = f.submit "Create client account", class: "btn btn-primary styled-btn"
      - if f.object.errors.any?
        %div{:class => "errors"}
          %p
            Sorry! We have this
            = pluralize(f.object.errors.count, 'error')
            %ul
            - f.object.errors.full_messages.each do |message|
              %li= message
