= provide(:title, "Home | ")
%div{:class => "jumbotron jumbotron-fluid"}
  = image_tag("paragraph.png", height: '500', width: '500', class: "paragraph-1")
  = image_tag("paragraph.png", height: '500', width: '500', class: "paragraph-2")
  .container
    %div{:class => "welcome-page"}
      %h1 Law Your Life
      %p Website to manage effectively law office
      %strong= link_to "Sign up!", new_user_path, class: "styled-btn"
      %strong= link_to "Log in!", login_path, class: "styled-btn"
