= provide(:title, "Log in | ")
%div{:class => "jumbotron jumbotron-fluid"}
  = image_tag("paragraph.png", height: '500', width: '500', class: "paragraph-1")
  = image_tag("paragraph.png", height: '500', width: '500', class: "paragraph-2")
  .container
    %div{:class => "welcome-page"}
      %h2
        Log in
      %div
        = form_for(:session, url: logging_path) do |f|
          %div
            = f.label :email
            = f.email_field :email
          %div
            = f.label :password
            = f.password_field :password
          = f.submit "Log in", class: "btn btn-primary styled-btn"
        %p
          If you don't have an account
          = link_to "sign up", new_user_path
        - flash.each do |key, value|
          %div{:class => "errors"}
            = value
