= provide(:title, "Sign up | ")
%div{:class => "jumbotron jumbotron-fluid"}
  = image_tag("paragraph.png", height: '500', width: '500', class: "paragraph-1")
  = image_tag("paragraph.png", height: '500', width: '500', class: "paragraph-2")
  .container
    %div{:class => "welcome-page"}
      %h2
        Sign up
      %div
        = form_for(@user) do |f|
          %div
            = f.label :email
            = f.email_field :email
          %div
            = f.label :password
            = f.password_field :password
          %div
            = f.label :password_confirmation, "Confirmation"
            = f.password_field :password_confirmation
          = f.submit "Create my account", class: "btn btn-primary styled-btn"
          - if f.object.errors.any?
            %div{:class => "errors"}
              %p
                Sorry! We have this
                = pluralize(f.object.errors.count, 'error')
                %ul
                - f.object.errors.full_messages.each do |message|
                  %li= message
