.client
  %p#notice= notice
  %p
    %strong Email:
    = @user.email
  - if !@user.krs_number.nil?
    %p
      %strong Company name:
      = @basic_info["data"]["krs_podmioty.nazwa"]
    %p
      %strong Address:
      = @basic_info["data"]["krs_podmioty.adres"]
    %p
      %strong Registered office:
      = @basic_info["data"]["krs_podmioty.siedziba"]
    %p
      %strong Company register number:
      = @user.krs_number
    %p
      %strong VAT number:
      = @basic_info["data"]["krs_podmioty.nip"]
    %p
      %strong Registered capital:
      = @basic_info["data"]["krs_podmioty.wartosc_kapital_zakladowy"]
      PLN
    %p
      %strong Shareholders:
      %ol
        - @basic_info["layers"]["wspolnicy"].each do |shareholder|
          %li= shareholder["nazwa"]
          %ul
            %li
              %strong Number of shares:
              = shareholder["udzialy_liczba"]
            %li
              %strong Share value:
              = shareholder["udzialy_wartosc_jedn"]
              PLN
            %li
              %strong Total value of shares:
              = shareholder["udzialy_wartosc"]
              PLN
    %p
      %strong Representation:
      %ol
        - @basic_info["layers"]["reprezentacja"].each do |representation|
          %li
            %strong= representation["nazwa"]
            = representation["funkcja"]
