= form_with(model: project, local: true) do |form|
  - if project.errors.any?
    #error_explanation
      %h2
        = pluralize(project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - project.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :description
    = form.text_area :description
  .field
    = form.label :due_date
    = form.datetime_select :due_date
  = form.fields_for :todos do |build|
    .field
      = build.label :description
      = build.text_area :description
    .field
      = build.label :due_date
      = build.datetime_select :due_date
  .actions
    = form.submit
