.projects
  %p#notice= notice
  %h1 Projects
  %table
    %thead
      %tr
        %th Title
        %th Description
        %th Due date
        %th{:colspan => "3"}
    %tbody
      - @projects.each do |project|
        %tr
          %td= project.title
          %td= project.description
          %td= project.due_date
          %td= link_to 'Show', project
          %td= link_to 'Edit', edit_project_path(project)
          %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'New Project', new_project_path
