.projects
  %p#notice= notice
  %p
    %strong Title:
    = @project.title
  %p
    %strong Description:
    = @project.description
  %p
    %strong Due date:
    = @project.due_date
  = link_to 'Edit', edit_project_path(@project)
  = link_to 'Back', projects_path
  .index-todo
    %h3 To Do
    %table
      %thead
        %tr
          %th Status
          %th Description
          %th Due time
          %th{:colspan => "3"}
      %tbody
        - @project.todos.each do |todo|
          %tr
            %td= todo.status
            %td= todo.description
            %td= todo.due_date
            %td= link_to 'Show', todo
            %td= link_to 'Edit', edit_todo_path(todo)
            %td= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }
    = render 'todos/form', project: @todo
