= form_for(@todo) do |form|
  - if @todo.errors.any?
    #error_explanation
      %h2
        = pluralize(@todo.errors.count, "error")
        prohibited this todo from being saved:
      %ul
        - @todo.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :description
    = form.text_area :description
  .field
    = form.label :due_date
    = form.datetime_select :due_date
  - unless current_page?(action: 'edit')
    = form.hidden_field(:project_id, value: @project.id)
  .actions
    = form.submit
