.index-todo
  %p#notice= notice
  %h1 To Do
  %table
    %thead
      %tr
        %th Status
        %th Description
        %th Due time
        %th{:colspan => "3"}
    %tbody
      - @todos.each do |todo|
        %tr
          %td= todo.status
          %td= todo.description
          %td= todo.due_date
          %td= link_to 'Show', todo
          %td= link_to 'Edit', edit_todo_path(todo)
          %td= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'New Todo', new_todo_path
  = form_with(model: @todo, local: true) do |form|
    - if @todo.errors.any?
      #error_explanation
        %h2
          = pluralize(@todo.errors.count, "error")
          prohibited this todo from being saved:
        %ul
          - @todo.errors.full_messages.each do |message|
            %li= message
    .field
      = form.label :description
      = form.text_area :description
    .field
      = form.label :due_date
      = form.datetime_select :due_date
    .actions
      = form.submit
