.new-todo
  %p#notice= notice
  %p
    %strong Status:
    = @todo.status
  %p
    %strong Description:
    = @todo.description
  %p
    %strong Due time:
    = @todo.due_date
  = link_to 'Edit', edit_todo_path(@todo)
  = link_to 'Back', :back
