/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require jquery-ui
 *= require_self
 *= require simple_calendar
 *= require_tree .
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

// Home page

.jumbotron {
  color: #000;
  background-color: #fff;
  padding: 0;
  margin-bottom: 0;
  .paragraph-1 {
    position: fixed;
    left: -250px;
    top: 15%;
  }
  .paragraph-2 {
    position: fixed;
    right: -250px;
    top: 15%;
  }
  .container {
    height: 35vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
    text-align: center;
    max-width: 50%;
    background-color: #F0F0F0;
    border-radius: 20px;
    h1 {
      font-weight: bold;
    }
    p {
      margin-bottom: 30px;
    }
    .styled-btn {
      color: inherit;
      text-decoration: none;
      font-size: 20px;
      border-radius: 30px;
      padding: 10px 20px;
      background-image: linear-gradient(60deg, #5D4157, #A8CABA, #fff 66%);
      background-position: top right;
      background-size: 300% 100%;
      transition: all .5s linear;
      &:hover {
        color: #fff;
        background-position: top left;
      }
    }
    h2 {
      font-weight: bold;
      font-size: 40px;
    }
    label {
      width: 100px;
      text-align: left;
    }
    .btn {
      color: inherit;
      margin-top: 15px;
      font-weight: bold;
      text-decoration: none;
      font-size: 16px;
      border-radius: 30px;
      padding: 10px 20px;
      background-image: linear-gradient(60deg, #5D4157, #A8CABA, #fff 67%);
      background-position: top right;
      background-size: 300% 100%;
      transition: all .5s linear;
      border: 0px;
      &:hover {
        color: #fff;
        background-position: top left;
      }
    }
    .field_with_errors {
      display: inline-block;
    }
    .errors {
      width: 350px;
      margin: 0 auto;
      margin-top: 40px;
      padding: 5px;
      background-color: #e27d60;
      color: #fff;
      border-radius: 10px;
      list-style: none;
      ul {
        text-align: left;
        margin: 0 auto;
      }
      p {
        margin: 0px;
        text-decoration: underline;
      }
    }
  }
}

// Footer layout

.footer {
  height: 5vh;
  line-height: 5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  nav {
      display: inline-block;
      ul {
        padding-inline-start: 0;
        li {
          display: inline-block;
          margin: 0 20px;
          a {
            font-size: 16px;
            font-weight: bold;
            color: #000;
          }
        }
      }
    }
  div {
    display: inline-block;
    position: fixed;
    bottom: 0px;
    right: 5px;
    p {
      margin: 0;
    }
  }
}

// Log in

.welcome-page {
  p {
    font-size: 14px;
    margin-top: 10px;
  }
}

// Header

.header {
  background-color: #dafdec;
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 2;
  h1 {
    margin: 0;
    font-weight: 600;
    line-height: 10vh;
    display: inline-block;
    left: 15px;
  }
  p {
    position: absolute;
    font-size: 16px;
    display: inline-block;
    line-height: 10vh;
    right: 15px;
    color: #000;
    a {
      color: #000;
      font-weight: bold;
    }
  }
}

// Sidebar

.sidebar {
  display: inline-block;
  background-color: #a8caba;
  width: 22%;
  top: 10vh;
  height: 90vh;
  position: fixed;
  div {
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      background-color: #79998a;
    }
    .glyphicon {
      color: #000;
      left: 10px;
    }
    a {
      display: inline-block;
      margin-left: 15px;
      color: #000;
      text-decoration: none;
    }
  }
}

.create-client {
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 22%;
  width: 78%;
  padding-left: 50px;
  label {
    width: 100px;
    text-align: left;
  }
  .field_with_errors {
    display: inline-block;
  }
  .errors {
    width: 450px;
    margin-top: 40px;
    padding: 5px;
    background-color: #e27d60;
    color: #fff;
    border-radius: 10px;
    list-style: none;
    ul {
      text-align: left;
      margin: 0 auto;
    }
    p {
      margin: 0px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .btn {
    color: inherit;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 20px;
    background-image: linear-gradient(60deg, #5D4157, #A8CABA, #fff 67%);
    background-position: top right;
    background-size: 300% 100%;
    transition: all .5s linear;
    border: 0px;
    &:hover {
      color: #fff;
      background-position: top left;
    }
  }
}

.clients {
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 22%;
  width: 78%;
  padding: 0 50px;
  .client-panel {
    width: 48%;
    height: 250px;
    padding-left: 10px;
    display: inline-block;
    margin: 5px;
    background-color: #79998a;
    color: #fff;
  }
}

.projects {
  display: inline-block;
  position: absolute;
  top: 10vh;
  height: 20vh;
  left: 22%;
  width: 78%;
  padding: 0 50px;
}

.todo {
  display: inline-block;
  position: absolute;
  top: 30vh;
  left: 22%;
  width: 78%;
  padding: 0 50px;
}

.new-todo {
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 22%;
  width: 78%;
  padding: 0 50px;
}

.edit-todo {
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 22%;
  width: 78%;
  padding: 0 50px;
}

.index-todo {
  position: absolute;
}

.calendar {
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 22%;
  width: 78%;
  padding: 0 50px;
}

.client {
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 22%;
  width: 78%;
  padding: 0 50px;
}

.flash {
  display: inline-block;
  position: absolute;
  top: 10vh;
  height: 5vh;
  left: 22%;
  width: 25%;
  padding: 0 10px;
  margin: 10px;
  line-height: 5vh;
  color: #fff;
  background-color: #4BB531;
  border: 1px solid #fff;
  border-radius: 12px;
}
