.sidebar
  .calendar-btn-sidebar
    %span{:class => "glyphicon glyphicon-calendar", :aria-hidden => "true"}
    = link_to "Calendar", office_calendar_path
  .projects-btn-sidebar
    %span{:class => "glyphicon glyphicon-list-alt", :aria-hidden => "true"}
    = link_to "Projects", projects_path
  .invoices-btn-sidebar
    %span{:class => "glyphicon glyphicon-credit-card", :aria-hidden => "true"}
    = link_to "Invoices", root_url
  - if can? :manage, :all
    .generator-btn-sidebar
      %span{:class => "glyphicon glyphicon-folder-open", :aria-hidden => "true"}
      = link_to "Document generator", root_url
    .clients-btn-sidebar
      %span{:class => "glyphicon glyphicon-user", :aria-hidden => "true"}
      = link_to "Clients", office_clients_path
    .create-client-btn-sidebar
      %span{:class => "glyphicon glyphicon-plus", :aria-hidden => "true"}
      = link_to "Create client", office_newClient_path
