%footer{:class => "footer"}
 %nav
  %ul
   %li= link_to "Home", home_path
   %li= link_to "About", about_path
   %li= link_to "Features", features_path
   %li= link_to "Contact", contact_path
 %div
  %p Made with law by M. Strzelczyk
