!!!
%html
  %head
    %title= yield(:title) + "Law Your Life"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if logged_in
      = render 'header'
      = render 'sidebar'
      = yield
    - else
      = yield
  %footer
    - if !logged_in
      = render 'layouts/footer'
